---
layout: page
---


{{ content }}

<h2>Our Team</h2>
<hr>

<div style="display:inline;text-align:left; float: left;">
    {% for member in site.data.members %}
        <div style="align:left;display:inline;text-align:left">
            <div style="float: left;display:inline;text-align:left;padding:10px">
                <img src={{member.photo}} width="100" height="133" border="5">
            </div>
            <h3><a id="{{member.name}}"></a>{{member.name}}</h3>
            <i>{{member.role}}</i>
            <br><br>
            {{member.description}}
            <br><br>
            <A HREF="#" onclick="u='{{member.emailprefix}}'; d='uzh.ch'; prompt('Copy address to clipboard',u+'@'+d); return false">Send email to {{member.name}}</A>
        </div>
        <hr>
    {% endfor %}
</div>
